.sortOptions {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.buttonContainer {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

button {
  padding: 8px 12px;
  border: none;
  background-color: #ffffff; 
  color: black;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid black;
  transition: background-color 0.3s;
  width: 250px; 
}

button:hover {
  background-color: #000000;
  color: #ffffff; 
}

button.active {
  background-color: #000000;
  color: #ffffff; 
}

span {
  font-weight: bolder;
  margin: 10px;
  padding: 5px 5px;
}

/* Responsive Styles */
@media (max-width: 600px) {
  button {
    width: 100%; 
  }
  
  .buttonContainer {
    gap: 5px; 
  }
  
  span {
    font-size: 14px; 
  }
}